<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,500&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        {{>header}}
    <h1 class="main-header">Weather Application</h1>
    <form action="" class="form">
        <div class="form-group">
            <input type="text" class="input" placeholder="Enter Your City">
        </div>
        <button class="btn">Search</button>
    </form>
    <div class="weather">
        <p id="location"></p>
    <p id="forecast"></p>
    <p id="temp"></p>
    </div>
    <hr>
    <p class="footer">{{>footer}}</p>
    </div>

 <script src="/js/app.js"></script>    
</body>
</html>